.header {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;

    border-bottom: solid 1px rgba(119, 136, 153, 0.264);

    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

.nav {
    margin-left: auto;
    margin-right: 15rem;

    display: flex;
    gap: 2rem;
}

.header h3 {
    color: tomato;
    font-weight: 700;
    font-size: 24px;
}

.header a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.504);
    font-size: 18px;
    font-weight: 600;
}