.header {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;

    border-bottom: solid 1px rgba(119, 136, 153, 0.264);

    position: fixed;
    top: 0;
    width: 100%;
}

.nav {
    align-self: center;
    margin-left: auto;
    margin-right: 15rem;

    display: flex;
    gap: 2rem;
}

.header-h3 {
    color: inherit;
    font-weight: 900;
    font-size: 24px;

    align-self: center;
}

.header-a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-weight: 900;
}